<h1>ラウンド一覧</h1>
<ul>
    <% @rounds.each do |round| %>
      <li>
        <%= link_to round.name, round_path(round) %> | 
        <%= link_to "編集", edit_round_path(round) %> | 
        <%= link_to "削除", round_path(round), method: :delete %>
      </li>
    <% end %>
</ul>

